<a href="https://colab.research.google.com/github/solobala/numpy36/blob/main/Balakina_numpy36_Dz3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание «Функции и работа с данными»

In [ ]:
import pandas as pd

# Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [ ]:
!wget -O "ml-latest-small.zip" "https://u.netology.ngcdn.ru/backend/uploads/lms/attachments/files/data/15257/ml-latest-small.zip"   # Качаем архив выбранного датасета в сессионное хранилище

--2022-09-10 18:10:04--  https://u.netology.ngcdn.ru/backend/uploads/lms/attachments/files/data/15257/ml-latest-small.zip
Resolving u.netology.ngcdn.ru (u.netology.ngcdn.ru)... 104.20.156.54, 104.20.157.54, 2606:4700:10::6814:9c36, ...
Connecting to u.netology.ngcdn.ru (u.netology.ngcdn.ru)|104.20.156.54|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2149503 (2.0M) [application/x-zip-compressed]
Saving to: ‘ml-latest-small.zip’

ml-latest-small.zip 100%[===================>]   2.05M   489KB/s    in 4.3s

2022-09-10 18:10:09 (489 KB/s) - ‘ml-latest-small.zip’ saved [2149503/2149503]

In [ ]:
from zipfile import ZipFile  # Подключаем библиотеку ZipFile из пакета zipfile

In [ ]:
with ZipFile('ml-latest-small.zip', 'r') as zip_file:  # Распаковываем архив в сессионное хранилище в папку ml-latest-small. Нам понадобятся файлы ratings.csv и movies.csv
     #zip_file.extractall('/content/')
     zip_file.extract('ml-latest-small/ratings.csv')

In [ ]:
data_ratings = pd.read_csv('/content/ml-latest-small/ratings.csv') # Читаем файл raiting.csv

In [ ]:
data_ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

## Вариант 1 - с использованием user fefined функции classificator

In [ ]:
%%time
def classificator(rating):
  """присваивает классификатор в зависимости от рейтинга"""
  if rating <=2:
    return 'низкий рейтинг' 
  elif rating <=4:
    return'средний рейтинг'
  else:
    return 'высокий рейтинг'
data_ratings['class'] = data_ratings.rating.apply(classificator) # применяем ф-ю classificator для расчета значения столбца class
data_ratings.head()

CPU times: user 27.4 ms, sys: 3.75 ms, total: 31.2 ms
Wall time: 30.6 ms

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

## Вариант 2 - с использованием lambda и map(), немного дольше

In [ ]:
%%time
data_ratings['class'] = list(map(lambda x: 'низкий рейтинг' if x <= 2 else('средний рейтинг' if x <= 4 else 'высокий рейтинг'),data_ratings['rating']))
data_ratings.head()

CPU times: user 32.3 ms, sys: 0 ns, total: 32.3 ms
Wall time: 33.2 ms

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

# Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [ ]:
with ZipFile('ml-latest-small.zip', 'r') as zip_file:  # Распаковываем архив в сессионное хранилище в папку ml-latest-small. Нам понадобятся файлы ratings.csv и movies.csv
     zip_file.extract('ml-latest-small/keywords.csv')

In [ ]:
data = pd.read_csv('/content/ml-latest-small/keywords.csv') # Читаем файл keywords.csv
data.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [ ]:
def geo_classificator(keyword):
  """гео-классификатор, который каждой строке 
  выставляет географическую принадлежность определенному региону"""
  geo_data = {
  'Центр': ['москва', 'тула', 'ярославль'],
  'Северо-Запад': ['петербург', 'псков', 'мурманск'],
  'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] } 
  for key, values in geo_data.items():
      #if set(values).intersection(set(keyword.strip().split())): # не прокатило, выдвет заниженный результат, т.к. не учитывает владивоcтока, хабаровске и пр
    for value in values:
      if value in keyword:
        return key
  return 'undefined'

In [ ]:
data['region'] = data.keyword.apply(geo_classificator) # применяем ф-ю geo_classificator для расчета значений столбца region
data.region.value_counts().head()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64

# Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

P/S/ все файлы находятся в архиве «дополнительные файлы к лекции и дз»

In [ ]:
data_ratings = pd.read_csv('/content/ml-latest-small/ratings.csv') # Читаем файл raiting.csv

In [ ]:
with ZipFile('ml-latest-small.zip', 'r') as zip_file:  # Распаковываем архив в сессионное хранилище в папку ml-latest-small. Нам понадобятся файлы ratings.csv и movies.csv
     #zip_file.extractall('/content/')
     zip_file.extract('ml-latest-small/movies.csv')

In [ ]:
data_movies = pd.read_csv('/content/ml-latest-small/movies.csv') # теперь читаем файл movies.csv с названиями фильмов
data_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
def production_year(title):
  """каждой строке из названия фильма выставляет год выпуска"""
  years = list(range(1950,2011))
  for year in years:
    if str(year) in title:
      return str(year)
  return '1900'

In [ ]:
data_movies['year'] = data_movies.title.apply(production_year) # Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’
data_movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [ ]:
joined = data_ratings.merge(data_movies, on ='movieId', how = 'left') # соединяем оба датафрейма

In [ ]:
joined[['year','rating']].groupby('year').agg('mean').sort_values(by = 'rating', ascending = False) # оставляем столбцы 'year' и 'rating', группируем по годам, считаем средний рейтинг, сортируем по убыванию рейтинга

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539
...        ...
2005  3.448434
2003  3.444777
1996  3.426600
1997  3.415764
2000  3.356104

[62 rows x 1 columns]