<a href="https://colab.research.google.com/github/solobala/numpy36/blob/main/Balakina_numpy36_Dz4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание к лекции «Продвинутый pandas»

In [1]:
import pandas as pd

# Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

если источник traffic_source равен yandex или google, то в source_type ставится organic
для источников paid и email из России - ставим ad
для источников paid и email не из России - ставим other
все остальные варианты берем из traffic_source без изменений

In [2]:
!wget -O "%D0%B4%D0%BE%D0%BF_%D0%BC%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%D1%8B_%D0%BA_%D0%BF%D0%B0%D0%BD%D0%B4%D0%B0%D1%81_1_%D0%B8_2.zip" "https://u.netology.ngcdn.ru/backend/uploads/lms/attachments/files/data/15259/%D0%B4%D0%BE%D0%BF_%D0%BC%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%D1%8B_%D0%BA_%D0%BF%D0%B0%D0%BD%D0%B4%D0%B0%D1%81_1_%D0%B8_2.zip"   # Качаем архив выбранного датасета в сессионное хранилище

--2023-02-07 18:44:55--  https://u.netology.ngcdn.ru/backend/uploads/lms/attachments/files/data/15259/%D0%B4%D0%BE%D0%BF_%D0%BC%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%D1%8B_%D0%BA_%D0%BF%D0%B0%D0%BD%D0%B4%D0%B0%D1%81_1_%D0%B8_2.zip
Resolving u.netology.ngcdn.ru (u.netology.ngcdn.ru)... 104.20.157.54, 104.20.156.54, 2606:4700:10::6814:9c36, ...
Connecting to u.netology.ngcdn.ru (u.netology.ngcdn.ru)|104.20.157.54|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://u.netology.ru/backend/uploads/lms/attachments/files/data/15259/%D0%B4%D0%BE%D0%BF_%D0%BC%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%D1%8B_%D0%BA_%D0%BF%D0%B0%D0%BD%D0%B4%D0%B0%D1%81_1_%D0%B8_2.zip [following]
--2023-02-07 18:44:56--  https://u.netology.ru/backend/uploads/lms/attachments/files/data/15259/%D0%B4%D0%BE%D0%BF_%D0%BC%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%D1%8B_%D0%BA_%D0%BF%D0%B0%D0%BD%D0%B4%D0%B0%D1%81_1_%D0%B8_2.zip
Resolving u.netology.ru (u.netology.ru)... 213.180.193.247, 2a02:6b8::1da
Connecting to u.netology.ru (u.netology.ru)|213.180.193.247|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2398962 (2.3M) [application/x-zip-compressed]
Saving to: ‘%D0%B4%D0%BE%D0%BF_%D0%BC%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%D1%8B_%D0%BA_%D0%BF%D0%B0%D0%BD%D0%B4%D0%B0%D1%81_1_%D0%B8_2.zip’

%D0%B4%D0%BE%D0%BF_ 100%[===================>]   2.29M  2.09MB/s    in 1.1s

2023-02-07 18:44:58 (2.09 MB/s) - ‘%D0%B4%D0%BE%D0%BF_%D0%BC%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%D1%8B_%D0%BA_%D0%BF%D0%B0%D0%BD%D0%B4%D0%B0%D1%81_1_%D0%B8_2.zip’ saved [2398962/2398962]

In [3]:
from zipfile import ZipFile  # Подключаем библиотеку ZipFile из пакета zipfile

In [4]:
with ZipFile('%D0%B4%D0%BE%D0%BF_%D0%BC%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%D1%8B_%D0%BA_%D0%BF%D0%B0%D0%BD%D0%B4%D0%B0%D1%81_1_%D0%B8_2.zip', 'r') as zip_file: 
  zip_file.extract('visit_log.csv')
  zip_file.extract('URLs.txt')
  zip_file.extract('ml-latest-small/ratings.csv')
  zip_file.extract('keywords.csv')

# Задание 0

В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [14]:
keywords = pd.read_csv('/content/keywords.csv', sep =',')

In [15]:
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [7]:
!pip3 install pymystem3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymystem3 in /usr/local/lib/python3.8/dist-packages (0.2.0)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from pymystem3) (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->pymystem3) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->pymystem3) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->pymystem3) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->pymystem3) (4.0.0)

In [8]:
# Работа с словоформами - русский - все форма к им п ед.ч.
from pymystem3 import Mystem
m=Mystem()

Installing mystem to /root/.local/bin/mystem from http://download.cdn.yandex.net/mystem/mystem-3.1-linux-64bit.tar.gz

In [26]:
def get_lemmas(keyword):
  list = keyword.lower().strip().split() # разбиваем каждую строку keywords на отдельные слова и проверяем  в них
  result=[]
  for element in list:
    result.append(m.lemmatize(element))
  return result

In [ ]:
keywords['lemmas'] = keywords['keyword'].apply(get_lemmas) # считалось почти 10 часов!!! и не сохранилось!

In [42]:
# Способ 2 - с помошью lambda 27 секунд
# keywords['lemmas1'] = keywords['keyword'].apply(lambda lst: [m.lemmatize(word) for word in lst.strip().split()])
keywords['lemmas1'] = keywords['keyword'].apply(lambda lst: [' '.join(m.lemmatize(word))[:-2] for word in lst.strip().split()])

In [41]:
keywords.head(30)

                          keyword     shows                        lemmas1
0                              вк  64292779                            [в]
1                   одноклассники  63810309                  [одноклассни]
2                           порно  41747114                         [порн]
3                            ютуб  39995567                          [юту]
4                       вконтакте  21014195                     [вконтакт]
5      одноклассники моя страница  19976138     [одноклассни, мо, страниц]
6                            майл  15144673                          [май]
7                           авито  14786593                         [авит]
8                      переводчик  14453469                    [переводчи]
9                          яндекс  13344734                        [яндек]
10                сбербанк онлайн  10725673               [сбербан, онлай]
11                           mail   7687204                          [mai]
12                           игры   6075762                          [игр]
13                        youtube   5729958                       [youtub]
14         вконтакте моя страница   5971451        [вконтакт, мо, страниц]
15                           секс   5431732                          [сек]
16                           гугл   5175471                          [гуг]
17                             dr   4880955                            [d]
18                    алиэкспресс   4879645                   [алиэкспрес]
19                        рамблер   4540421                       [рамбле]
20                    фильмы 2016   4486635                    [филь, 201]
21                         погода   4344510                        [погод]
22                             vk   4330448                            [v]
23              ютуб видеохостинг   4215267             [юту, видеохостин]
24                          дойки   4133424                         [дойк]
25  одноклассники социальная сеть   4018230  [одноклассни, социальны, сет]
26                       мультики   3866664                       [мульти]
27                        контакт   3815111                       [контак]
28                        фейсбук   3669993                       [фейсбу]
29                    порно видео   3858938                   [порн, виде]

In [ ]:
log = pd.read_csv('/content/visit_log.csv', sep =';') # Читаем файл visit_log.csv  в переменную log

In [ ]:
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

## Вариант 1 . Решение с помощью user-fefined функции и .apply() - самый медленный

In [ ]:
def fill_sourse_type(row):
  """создайте столбец source_type по следующим правилам:

  если источник traffic_source равен yandex или google, 
  то в source_type ставится organic;
  для источников paid и email из России 
  ставим ad,
  для источников paid и email не из России  
  ставим other, 
  все остальные варианты берем из traffic_source без изменений """
  if row['traffic_source'] in['yandex', 'google']:
      return 'organic'
  elif (row['traffic_source'] in ['paid', 'email']) and (row['region'] =='Russia'):
      return 'ad'
  elif (row['traffic_source'] in ['paid', 'email']) and (row['region']!='Russia'):
      return 'other'
  else:
      return row['traffic_source']

In [ ]:
%%time
log['source_type'] = log.apply(fill_sourse_type, axis = 1) # заносим в столбец source_type значения, полученные с помощью функции Fill_source_type на основе данных столбца 'traffic_source'(берем из строки row)

CPU times: user 320 ms, sys: 2.79 ms, total: 323 ms
Wall time: 325 ms

In [ ]:
log['source_type'].value_counts()

direct     7013
organic    5407
ad         3790
other      2728
Name: source_type, dtype: int64

##Вариант 2. Решение с помощью lambda, map, самое быстрое выходит в 25 раз быстрее по сравнению с вариантом 1!

In [ ]:
%%time
log['source_type'] = list(map(lambda x,y:'organic' if x in ['yandex', 'google'] else ('ad' if x in  ['paid', 'email'] and y =='Russia' else ('other' if x in  ['paid', 'email'] and y !='Russia' else x )) , log['traffic_source'], log['region']))

CPU times: user 9.84 ms, sys: 0 ns, total: 9.84 ms
Wall time: 12.5 ms

In [ ]:
log['source_type'].value_counts()

direct     7013
organic    5407
ad         3790
other      2728
Name: source_type, dtype: int64

## Вариант 3. Решение с использованием loc и str.contains(), медленнее в 4 раза по сравнению с вариантом 2

In [ ]:
%%time
log.loc[log.traffic_source.str.contains('yandex|google'), 'source_type'] ='organic'
log.loc[(log.traffic_source.str.contains('paid|email')) & (log.region =='Russia'), 'source_type'] ='ad'
log.loc[(log.traffic_source.str.contains('paid|email')) & (log.region !='Russia'), 'source_type'] ='other'
log.source_type.fillna(value = log.traffic_source, inplace = True)

CPU times: user 44 ms, sys: 0 ns, total: 44 ms
Wall time: 46.6 ms

In [ ]:
log['source_type'].value_counts()

direct     7013
organic    5407
ad         3790
other      2728
Name: source_type, dtype: int64

## Вариант 4. Решение с использованием loc и isin (Совет преподавателя). Немного медленнее чем вариант 2, но быстрее, чем 1 и 3

In [ ]:
%%time
log.loc[log.traffic_source.isin(['yandex', 'google']), 'source_type'] = 'organic'
log.loc[(log.traffic_source.isin(['paid', 'email'])) & (log.region =='Russia'), 'source_type'] ='ad'
log.loc[(log.traffic_source.isin(['paid', 'email'])) & (log.region !='Russia'), 'source_type'] ='other'
log.source_type.fillna(value = log.traffic_source, inplace = True)

CPU times: user 16.2 ms, sys: 0 ns, total: 16.2 ms
Wall time: 17.3 ms

# Задание 2

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

Прочитайте содержимое файла в датафрейм
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [ ]:
data =pd.read_csv('/content/URLs.txt')

In [ ]:
pattern_ = '\/{1}\d{8}-{1}'
data.loc[data.url.str.contains(pat = pattern_)]

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

# Задание 3

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [ ]:
data_ratings = pd.read_csv('/content/ml-latest-small/ratings.csv')

In [ ]:
data_ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

## Вариант 1. Решение с помощью  lambda

In [ ]:
%%time
data = data_ratings.groupby('userId').agg({'timestamp': ['min', 'max', 'count']})
data = data[data['timestamp']['count']>100]
data['lifetime'] = data.apply(lambda row: row['timestamp']['max']-row['timestamp']['min'], axis = 1 )
print(f' среднее время жизни пользователей, которые выставили более 100 оценок: {data.lifetime.mean()/24/3600}')

 среднее время жизни пользователей, которые выставили более 100 оценок: 463.89476214829165
CPU times: user 129 ms, sys: 2.96 ms, total: 132 ms
Wall time: 130 ms

## Вариант 2. Решение с помощью data.loc - быстрее в 4 раза - совет преподавателя

In [ ]:
%%time
data = data_ratings.groupby('userId').agg({'timestamp': ['min', 'max', 'count']}) # Здесь -минимальное и максимальное timestamp, а также кол-во оценокэ. Вс- внутри timestamp
data

CPU times: user 10.8 ms, sys: 0 ns, total: 10.8 ms
Wall time: 12.1 ms

         timestamp
               min         max count
userId
1       1260759108  1260759205    20
2        835355395   835356246    76
3       1298861589  1298932787    51
4        949778714   949982274   204
5       1163373044  1163375145   100
...            ...         ...   ...
667      847271220   847272234    68
668      993613196   993613478    20
669     1015829081  1015829766    37
670      938781328   940944033    31
671     1063500751  1074784735   115

[671 rows x 3 columns]

In [ ]:
data = data.loc[data['timestamp']['count']>100]
data['lifetime'] = data['timestamp']['max']-data['timestamp']['min']
print(f'среднее время жизни пользователей, которые выставили более 100 оценок: {data.lifetime.mean()/24/3600}')

среднее время жизни пользователей, которые выставили более 100 оценок: 463.89476214829165

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# Задание 4

Дана статистика услуг перевозок клиентов компании по типам (см. файл “Python_13_join.ipynb” в разделе Материалы для лекции «Продвинутый pandas» ---- Ноутбуки к лекции «Продвинутый pandas»).
Необходимо сформировать две таблицы:
1. таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
2. аналогичную таблицу по типам выручки с указанием адреса клиента
Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

In [ ]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

   client_id  rzd_revenue
0        111         1093
1        112         2810
2        113        10283
3        114         5774
4        115          981

In [ ]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto

   client_id  auto_revenue
0        113         57483
1        114            83
2        115           912
3        116          4834
4        117            98

In [ ]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

   client_id  air_revenue
0        115           81
1        116            4
2        117           13
3        118          173

In [ ]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base

   client_id          address
0        111  Комсомольская 4
1        112   Энтузиастов 8а
2        113  Левобережная 1а
3        114          Мира 14
4        115        ЗЖБИиДК 1
5        116    Строителей 18
6        117  Панфиловская 33
7        118     Мастеркова 4

In [ ]:
result1 = pd.DataFrame(columns = ['client_id', 'revenue', 'revenue_type'])

In [ ]:
rzd.rename(columns = {rzd.columns[1]: 'revenue'}, inplace = True)
rzd['revenue_type'] = 'rzd'
rzd

In [ ]:
auto.rename(columns = {auto.columns[1]: 'revenue'}, inplace = True)
auto['revenue_type'] = 'auto'
auto

In [ ]:
air.rename(columns = {air.columns[1]: 'revenue'}, inplace = True)
air['revenue_type'] = 'air'
air

In [ ]:
result1 = pd.concat([rzd,auto,air])
result1

   client_id  revenue revenue_type
0        111     1093          rzd
1        112     2810          rzd
2        113    10283          rzd
3        114     5774          rzd
4        115      981          rzd
0        113    57483         auto
1        114       83         auto
2        115      912         auto
3        116     4834         auto
4        117       98         auto
0        115       81          air
1        116        4          air
2        117       13          air
3        118      173          air

In [ ]:
result1.pivot_table(index = 'client_id', columns = 'revenue_type', values = 'revenue', aggfunc = sum, fill_value = 0, margins = True)

revenue_type  air   auto    rzd    All
client_id
111             0      0   1093   1093
112             0      0   2810   2810
113             0  57483  10283  67766
114             0     83   5774   5857
115            81    912    981   1974
116             4   4834      0   4838
117            13     98      0    111
118           173      0      0    173
All           271  63410  20941  84622

In [ ]:
result2 =result1.merge(client_base, on ='client_id', how = 'left' )

In [ ]:
result2.pivot_table(index = ['client_id','address'], columns = 'revenue_type', values = 'revenue', aggfunc = sum, fill_value = 0, margins = True)

revenue_type               air   auto    rzd    All
client_id address
111       Комсомольская 4    0      0   1093   1093
112       Энтузиастов 8а     0      0   2810   2810
113       Левобережная 1а    0  57483  10283  67766
114       Мира 14            0     83   5774   5857
115       ЗЖБИиДК 1         81    912    981   1974
116       Строителей 18      4   4834      0   4838
117       Панфиловская 33   13     98      0    111
118       Мастеркова 4     173      0      0    173
All                        271  63410  20941  84622